[Unit]
Description=fbcp-ili9341 copy framebuffer for ILI9486/ILI9488
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/levente/start_fbcp.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
